@charset 'utf-8';

.lotter_main{
	background: #fff;
}
.main_scroll{
	height:238px;
}
.main_scroll .scroll_left img{
	height:238px !important;
	width:800px;
}
.main_scroll .scroll_right{
	width:200px;
	height:238px;
	background:#515860;
}
.gradient{
	width:100%;
	height:15px;
	/*background:linear-gradient(to bottom,#7a7a7a 0%,#c3c4c3 100%);*/
}
.gradient i{
	display:inline-block;
	border-right:20px solid transparent;
	border-top:15px solid #eee;
}
.gradient em{
	display:inline-block;
	border-left:20px solid transparent;
	border-top:15px solid #eee;
}
.scroll_right h2{
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:20px;
	text-align: center;
	border-bottom:1px solid #777d84;
}
.winning{
	margin-top:11px;
	margin-bottom:0px;
	height:204px;
}
.ranking{
	margin:15px 0;
	height:163px;
	position:relative;
}
.ranking_scrooll_box{
	height:172px;
	overflow-y:hidden;
}
.winning .ranking_list_lotter li{
	border-bottom:none !important;
}
.ranking_list_lotter li{
	border-bottom:1px dashed #dce1e5;
	height:54px;
	cursor:pointer;
}
.ranking_list_lotter li>.media{
	padding:10px;
}
.ranking_list_lotter .media .media-left{
	vertical-align:text-bottom;
}
.ranking_list_lotter .media img{
	width:36px;
	height:36px;
}
.ranking_list_lotter li>.media .media-body p{
	height:17px;
	line-height:17px;
	color:#fff;
}
.ceng{
	width:304px;
	height:200px;
	box-shadow: 2px 2px 5px #ccc;
	padding-top:22px;
	background: #fff;
	position:absolute;
	top:0;
	/*left:-304px;*/
	z-index:9999;
}
.ceng .media-left{
	padding-left:30px;
	padding-right: 26px;
}
.ceng .media-left img{
	width:80px;
	height:80px;
}
.ceng .media-left p{
	margin-top:15px;
}
.ceng .media-left a{
	text-align:center;
	display:block;
	color:#1d93d8;
	font-size:14px;
}
.ceng .media-body p{
	font-size:15px;
}
.ceng .media-footer{
	height:50px;
	background: #f5f5f5;
}
.ceng .media-footer a{
	display:inline-block;
	width:40px;
	text-align:center;
}
.ceng .media-footer i{
	font-size:25px;
	line-height:50px;
}
.ranking_list_lotter .media-body em{
	color:red;
}
.lottery_content{
	background: #fff;
	margin-bottom:10px;
}
.lottery_content .content_nav{
	height:40px;
	background:#455467;
	padding-left:10px;
	overflow: hidden;
}
.content_nav li{
	float: left;
	height:40px;
	text-align:center;
	position:relative;
}
.content_nav li a{
	color:#fff;
	font-size:14px;
	width:100px;
	line-height:27px;
	margin:10px 0;
	margin-top:7px;
	display:inline-block;
}
.content_nav li a:hover{
	text-decoration:none;
}
.content_nav li + li a:after{
	position:absolute;
	left:0;
	top:11px;
	content:'';
	width:1px;
	height:20px;
	background: #74808f;
}
.content_nav .active{
	background: #fff;
	border-radius:5px 5px 0 0;
	margin-top:3px;
}
.content_nav .active a{
	color:#333;
}
.content_nav .active a:after{
	left:-1px;
}
.content_list_box{
	padding:8px 0;
	background: #fff;
	height:100%;
}
.content_list{
	display: none;
}
.content_list .k3_project{
	float:left;
	width:226px;
	height:100px;
	padding:16px 20px;
	margin:10px;
	box-shadow:1px 1px 1px #8a8a8a;
	border:1px solid #e3e3e3;
	position:relative;
}
.k3_project .media-left i{
	font-size:60px;
	color:red;
	line-height:68px;
}
.k3_project .media-body p{
	font-size:18px;
	text-align: center;
	color:#516073;
	margin:5px 0 0 0 ;
	font-weight:100;
}
.k3_project .media-body span{
	color:#777;
	font-size:14px;
	margin:6px 0;
	display:block;
	text-align: center;
}
.k3_beetting{
	position:absolute;
	background: rgba(81, 96, 115, 0.9);
	width:100%;
	height:100%;
	text-align: center;
	left:0;
	top:0;
	display: none;
}
.k3_beetting .btn_beetting{
	border:1px solid #dfdfdf;
	color:#dfdfdf;
	font-size:14px;
	padding:2px 21px;
	margin-top:33px;
	display: inline-block;}
.k3_beetting .btn_beetting:hover{
	background: #b91111;
	border-color:red;
}
.k3_beetting .help{
	position:absolute;
	bottom:7px;
	right:8px;
	border-radius:50%;
	height:22px;
	width:22px;
}
.k3_beetting .help:hover{
	background: #999;
}
.k3_beetting .help i{
	font-size:23px;
	color:#dfdfdf;
	line-height:0;
	vertical-align:middle;
}
.layui-layer-content{
	padding: 0 10px !important;
}
.layui-layer-TipsG { 
	border-bottom-color: transparent !important; 
	border-left-color: #bd2004 !important; 
	top: 6px !important; 
	border-width: 5px !important; 
	right: -10px !important; 
}

.lottery_content .lcbox{
	background: #fffcf5 none repeat scroll 0 0;
}

.lcbox .lctit {
	border-bottom: 2px solid #ee6b13;
}

.lcbox .lctit .jingcai {
	background: rgba(0, 0, 0, 0) url("../images/unit_hover.jpg") repeat-x scroll 0 0;
	display: block;
	height: 36px;
	position: relative;
	border-radius: 7px 7px 0 0;
	top: 2px;
	width: 116px;
}
.lcbox h2{
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 10px;
	line-height: 36px;
	text-align: center;
	text-indent: 10px;
}

.lcbox .lcmain {
	padding: 10px 0 20px;
}
.lcmain .lot_ul>li {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	display: inline;
	float: left;
	margin: 10px 5px 0;
	width: 315px;
	border-radius:7px;
}
.lcmain .lot_ul li img {
	float: left;
}
.lcmain .lot_ul li .info {
	float: left;
}
.lcmain .lot_ul li .info h3 {
	margin: 5px 0 5px 10px;
	font-size: 20px;
}
.lcmain .lot_ul li .info h3 a {
	color: #666;
}
.lcmain .lot_ul li .info h3 a:hover {
	color: #ee6b13;
	text-decoration: none;
}
.lcmain .lot_ul li .info>span {
	color: #777;
	line-height: 25px;
	padding:0 10px;
	display: inline-block;
	font-size:14px;
}

.show-gd1 ul{display: inline-block;color:#fff;
	width: 210px;
	overflow: hidden;
	height: 21px;}
.clear {
	clear: both;
}
.lcmain .lot_ul li .btnbox {
	height:40px;
	overflow: hidden;
	margin-left:20px;
}
.lcmain .lot_ul li .btnbox_top{
	height:100px;
}
.lcmain .lot_ul li .btnbox a {
	background:#e9e9e9;
	color:#333;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 30px;
	margin: 0 15px 0px 0;
	text-align: center;
	width: 80px;
	border-radius:20px;
}
.lcmain .lot_ul li .btnbox a:hover{
	opacity:0.8;
}
.lcmain .lot_ul li .btnbox .buybtn {
	background-color: #d32036;
	color:#ffffff;
	margin-right:-5px;
}
.lot-fore{
	height:30px;
}
.lot-fore .fl {
	float: left;
	line-height: 24px;
	margin-left: 20px;
}
.show-gd1 {
	float: left;
	margin-right: -15px;
	text-align: center;
	width: 239px;
}
.show-gd1 li {
	border-radius: 50%;
	float: left;
	height: 19px;
	line-height: 19px;
	margin: 0 1px !important;
	text-align: center;
	width: 19px;
}
.show-gd1 .big_ball li {
	font-size: 13px;
	height: 21px !important;
	line-height: 19px !important;
	width: 21px !important;
}
.show-gd1 li {
	background: url(../images/b-20.png) no-repeat 0 0;
}
.gct_time {
	background: #e1e1e1 none repeat scroll 0 0;
	color: #666;
}
.gct_time {
	border-radius: 3px;
	display: inline-block;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin-left:10px;
}
.tabulousclear{
	display: inline-block;
	line-height: 23px;
}
.gct_time_now_l .leaveh-2{
	font-size: 12px;
	color: #666;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.lcbox li img{width:80px;height:80px;margin:10px 0 0 12px;}

.clear {
	clear: both;
}