/admin
/wap.com
/server/laoxiangmu
/vue/wap.com
/vue/admin/dist
/vue/admin/node_modules
/mobile/node_modules
/vue/mobile/dist
/kaijiang.com
/daili
/server/runtime/api/log
/vue/agent/node_modules
/vue/agent/dist
xdmd.sql