/* H-UI登录页面样式 */
body {
  font-size: 14px;
}

.loginWraper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.loginBox {
  box-shadow: 0px 1px 7px #7d8593;
  position: absolute;
  width: 516px;
  background: #e8e8e8;
  left: 50%;
  top: 50%;
  margin-left: -258px;
  margin-top: -200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

/* 登录页面头部 */
.login-header {
  text-align: center;
  padding: 20px 0 30px;
  border-bottom: 1px solid #ddd;
  margin: 0 20px 10px;
}

.login-header .site-logo {
  max-width: 200px;
  max-height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.login-header .site-title {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.loginBox .row {
  margin-top: 20px;
}

.loginBox .row .form-label .Hui-iconfont {
  font-size: 24px;
  color: #999;
}

.loginBox .input-text {
  width: 280px;
  height: 35px;
}

.form-horizontal .form-label {
  margin-top: 0;
  padding: 0;
  height: 35px;
  line-height: 35px;
  float: left;
  text-align: right;
  padding-right: 15px;
}

.formControls {
  float: left;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.input-text {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 14px;
  color: #333;
  background: #fff;
}

.input-text:focus {
  border-color: #19a97b;
  outline: none;
  box-shadow: 0 0 5px rgba(25, 169, 123, 0.3);
}

.btn {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
}

.radius {
  border-radius: 2px;
}

.size-L {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}

.ylogin {
  background: #19a97b;
  border-color: #19a97b;
  color: #fff;
  box-shadow: 0px 2px 5px #999;
  padding: 0 32px !important;
}

.ylogin:hover:not(:disabled) {
  background: #16916b;
}

.ylogin:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.yres {
  background: #dd514c;
  border-color: #dd514c;
  color: #fff;
  box-shadow: 0px 2px 5px #999;
  margin-left: 20px;
  padding: 0 32px !important;
}

.yres:hover {
  background: #c5433e;
}

.footer {
  height: 46px;
  line-height: 46px;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
}

.cl::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media (max-width: 617px) {
  .loginBox {
    width: 100%;
    position: static;
    margin-top: 0;
    margin-left: 0;
  }
  
  .loginBox .input-text {
    width: 80%;
  }
}

