.profile-page[data-v-ab14a591]{min-height:100vh;background:#f5f5f5;padding-top:46px}.profile-content[data-v-ab14a591]{padding:12px}.submit-box[data-v-ab14a591]{padding:24px 12px}[data-v-ab14a591] .van-cell{font-size:14px}
